[submodule "grafana"]
	path = grafana
	url = https://github.com/chainguard-images/grafana.git
	branch = v7.5.20
[submodule "openssl-fips/os"]
	path = openssl-fips/os
	url = https://github.com/wolfi-dev/os
