package:
  name: openssl-config-fipshardened
  version: 3.1.0
  epoch: 1
  description: "Hardened FIPS cryptographic configuration policy for OpenSSL"
  copyright:
    - license: Apache-2.0
  # For now, continue to install the legacy openssl provider if the parent openssl
  # package is installed.  This is done because users may be installing the openssl
  # package to gain that provider.
  dependencies:
    runtime:
      - openssl-provider-fips
    replaces:
      - openssl-config
      - openssl-config-fips
    provides:
      # Provide lower version than OpenSSL/OpenSSL-fips itself provides.  This makes it
      # so the hardened config has to be explicitly enabled.
      - openssl-config=3.1.0-r0
      - openssl-config-fips=3.1.0-r0

environment:
  contents:
    packages:
      - busybox
      - openssl-config

pipeline:
  - runs: |
      mkdir -p "${{targets.destdir}}"/etc/ssl
      cat policy-preamble.cnf /etc/ssl/openssl.cnf > "${{targets.destdir}}"/etc/ssl/openssl.cnf
